a{
    font-family: Bebas Neue !important;
    padding-left: 15px !important;
}

html{
    background-color: black;
}



#footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container__image{
    width: 250px;
    }


.container__text{
        display: inline;
        color: white;
    }

.word{
    font-weight: bold;
    color:#e53935;
}

figure {
    
    padding: 4px;
    margin: auto;
  }
  
  figcaption {
    
    color: white;
    font-size: small;
    font-style: italic;
    padding: 2px;
    text-align: center;
  }
